.services-main-text{
    font-size: 2.5rem;
    font-weight: bold;
}
.quick-action-div{
    width: 100%;
    height: 140px;
    background-color: rgb(22, 23, 22);
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media(max-width:900px){
    .quick-action-div{
        height: 200px;
    }
}
@media(max-width:500px){
    .quick-action-div{
        height: 110px !important;
    }
}





/* modals */
body .modal-sections{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    top: 0%;
}
.modal-sections .modals{
    width: 40%;
    height: fit-content;
    background-color: black;
    top: 10%;
    left: 30%;
    border-radius: 10px;
}
@media(max-width:900px){
    .modal-sections .modals{
        width: 60% !important;
        height: fit-content;
        background-color: black;
        top: 20%;
        left: 20%;
        border-radius: 10px;
    }
}
@media(max-width:500px){
    .modal-sections .modals{
        width: 90% !important;
        height: fit-content;
        background-color: black;
        top: 10%;
        left: 5%;
        border-radius: 10px;
    }
    .network-providers{
        width: 70px !important;
        height: 70px;
        padding: 10px;
        border-radius: 5px;
        background-color:rgb(66, 65, 65);
    }
}
.modal-heading{
    font-size: 1.8rem;
    font-weight: bold;
}
.form-control{
    background-color: rgb(66, 65, 65) !important;
    color: white !important;
    border: none !important;
}
.form-control:focus{
    background-color: rgb(66, 65, 65) !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.562) !important;
}
.network-providers{
    width: 90px;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(66, 65, 65);
}
.network-providers img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-submit{
    background-color: rgba(7, 186, 7, 0.406) !important;
}